/* Define this variables in your archive css to override them */
// :root {
//     --color-bg: you_color or $body-bg;
//     --color-href: you_color or $secondary;
//     --color-current: you_color or $body-color;
//     --crumb-padding: your_padding or 0.75rem 1rem;
//     --bar-border: your border or unset;
// }

/* No portal pages */
.wp_breadcrumbs_base, .wp_breadcrumbs_base_portal {
    background-color: var(--color-bg, #fff);
}

.breadcrumbs_base {
    & ol.breadcrumb {
        background-color: unset !important;
        padding: var(--crumb-padding, 0.75rem 1rem) !important;
        margin-bottom: 0;
        & a {
            color: var(--color-href, $secondary);
        }
        & span {
            color: var(--color-current, $body-color);
        }
        // Fix default padding for same space between crumbs
        & span.breadcrumb-separator {
            padding: 0px 0px 0px 2px;
        }
    }
}

/* Portal pages */
// TODO: Make work like my home with width 100% and padding. The templates are different and On document view there are a flex div with pagination
// For now just add color style for crumbs, navbar and bg-white

// Purchase table list
div[class*="o_portal container"] {
    & ol.breadcrumb {
            color: var(--color-href, $secondary);
        }
        & li.active {
            color: var(--color-current, $body-color);
        }
    }
}

// Quotations table list
.o_portal_wrap {
    & .navbar-light {
        border: var(--bar-border, unset) !important;
        & ol.breadcrumb {
            background-color: unset !important;
            & a {
                color: var(--color-href, $secondary);
            }
            & li.active {
                color: var(--color-current, $body-color);
            }
        }
    }
}
// On document view
.o_portal {
    & .bg-white {
        border: unset !important;
        background-color: $body-bg !important;
    }
}
