<?xml version="1.0" encoding="UTF-8" ?>
<odoo>

    <menuitem name="SEO settings" id="seo_base_settings" parent="website.menu_website_configuration" sequence="110"/>
        <menuitem name="General" id="seo_general_settings_menu"
                  parent="seo_base_settings" sequence="5" action="seo_general_settings"/>
        <menuitem name="Sitemap.xml" id="sitemap_base_settings_menu"
                  parent="seo_base_settings" sequence="10" action="sitemap_base_settings"/>
        <menuitem name="Robots.txt" id="robots_txt_settings_menu"
                  parent="seo_base_settings" sequence="20" action="robots_txt_settings"/>
        <menuitem name="Web App" id="web_app_settings_menu"
                  parent="seo_base_settings" sequence="30" action="web_app_settings"/>
        <menuitem name="Analytics" id="analytics_settings_menu"
                  parent="seo_base_settings" sequence="40" action="analytics_settings"/>

</odoo>