<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
    <!-- Sitemap.xml part -->
    <record id="sitemap_base_settings_form" model="ir.ui.view">
        <field name="name">Sitemap base module settings</field>
        <field name="model">sitemap_base.settings</field>
        <field name="arch" type="xml">
            <form string="Sitemap base module settings" class="oe_form_configuration o_base_settings">
                <div class="o_control_panel">
                    <div class="o_panel">
                        <div class="title h2 mb0 mt4 text-muted hidden-xs">Sitemap settings</div>
                    </div>
                    <header>
                        <button string="Save" type="object" name="execute" class="oe_highlight" />
                        <button string="Discard" type="object" name="cancel" special="cancel" />
                    </header>
                </div>
                <div class="mr32 ml16">
                    <div class="row mt16 o_settings_container">
                        <div class="col-xs-12 col-md-4 o_setting_box">
                            <div class="o_setting_right_pane">
                                <div class="row mb8">
                                    <label class="col-md-4" string="Current website"/>
                                    <field name="website_id" readonly="1"/>
                                </div>
                                <label string="Change frequently"/>
                                <div class="mt8">
                                    <field name="map_freq_def"/>
                                </div>
                                <label class="mt16" string="URL priority"/>
                                <div class="mt8">
                                    <field name="map_prio_def"/>
                                </div>
                            </div>
                            <div class="mt16 o_setting_right_pane">
                                <h3>
                                    <a href="/sitemap.xml" title="Open in new tab" target="_blank">
                                        <span>Open sitemap.xml file</span>
                                        <i class="fa fa-fw o_button_icon fa-arrow-right"/>
                                    </a>
                                </h3>
                                <div class="text-muted">Open the sitemap.xml file of the current website in a new tab</div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4 o_setting_box">
                            <div class="mb16">
                                <div class="o_setting_left_pane">
                                    <field name="map_add_icon"/>
                                </div>
                                <div class="o_setting_right_pane">
                                    <label for="map_add_icon"/>
                                    <div class="text-muted">
                                        Include favicon.ico in sitemap
                                    </div>
                                </div>
                            </div>
                            <div class="mb16">
                                <div class="o_setting_left_pane">
                                    <field name="map_add_robot"/>
                                </div>
                                <div class="o_setting_right_pane">
                                    <label for="map_add_robot"/>
                                    <div class="text-muted">
                                        Include robots.txt in sitemap
                                    </div>
                                </div>
                            </div>
                            <div class="mb16">
                                <div class="o_setting_left_pane">
                                    <field name="map_add_pages"/>
                                </div>
                                <div class="o_setting_right_pane">
                                    <label for="map_add_pages"/>
                                    <div class="text-muted">
                                        Include static pages in sitemap
                                    </div>
                                </div>
                            </div>
                            <div class="mb16">
                                <div class="o_setting_left_pane">
                                    <field name="map_add_cats"/>
                                </div>
                                <div class="o_setting_right_pane">
                                    <label for="map_add_cats"/>
                                    <div class="text-muted">
                                        Include product public categories in sitemap
                                    </div>
                                </div>
                            </div>
                            <div class="mb16">
                                <div class="o_setting_left_pane">
                                    <field name="map_add_prods"/>
                                </div>
                                <div class="o_setting_right_pane">
                                    <label for="map_add_prods"/>
                                    <div class="text-muted">
                                        Include published products in sitemap
                                    </div>
                                </div>
                            </div>
                            <div class="mb16">
                                <div class="o_setting_left_pane">
                                    <field name="map_add_blog"/>
                                </div>
                                <div class="o_setting_right_pane">
                                    <label for="map_add_blog"/>
                                    <div class="text-muted">
                                        Include blog main page and published blog posts in sitemap
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </field>
    </record>
    <record id="sitemap_base_settings" model="ir.actions.act_window">
        <field name="name">Sitemap settings</field>
        <field name="type">ir.actions.act_window</field>
        <field name="res_model">sitemap_base.settings</field>
        <field name="view_mode">form</field>
        <field name="target">inline</field>
    </record>
    <!-- Robots.txt part -->
    <record id="robots_txt_settings_form" model="ir.ui.view">
        <field name="name">Robots base module settings</field>
        <field name="model">robots_txt.settings</field>
        <field name="arch" type="xml">
            <form string="Robots.txt module settings" class="oe_form_configuration o_base_settings">
                <div class="o_control_panel">
                    <div class="o_panel">
                        <div class="title h2 mb0 mt4 text-muted hidden-xs">Robots.txt settings</div>
                    </div>
                    <header>
                        <button string="Save" type="object" name="execute" class="oe_highlight" />
                        <button string="Discard" type="object" name="cancel" special="cancel" />
                    </header>
                </div>
                <div class="mr32 ml16">
                    <div class="row mt16 o_settings_container">
                        <div class="col-xs-12 col-md-4 o_setting_box">
                            <div class="o_setting_right_pane">
                                <div class="row mb8">
                                    <label class="col-md-4" string="Current website"/>
                                    <field name="website_id" readonly="1"/>
                                </div>
                                <h3>
                                    <a href="/robots.txt" title="Open in new tab" target="_blank">
                                        <span>Open robots.txt file</span>
                                        <i class="fa fa-fw o_button_icon fa-arrow-right"/>
                                    </a>
                                </h3>
                                <div class="text-muted">Open the robots.txt file of the current website in a new tab</div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4 o_setting_box">
                            <label for="robots_txt_content"/>
                            <div class="text-muted">
                                This field can not support html tags
                            </div>
                            <field name="robots_txt_content"/>
                        </div>
                    </div>
                </div>
            </form>
        </field>
    </record>
    <record id="robots_txt_settings" model="ir.actions.act_window">
        <field name="name">Robots settings</field>
        <field name="type">ir.actions.act_window</field>
        <field name="res_model">robots_txt.settings</field>
        <field name="view_mode">form</field>
        <field name="target">inline</field>
    </record>
    <!-- General part -->
    <record id="seo_general_settings_form" model="ir.ui.view">
        <field name="name">General SEO base module settings</field>
        <field name="model">seo_general.settings</field>
        <field name="arch" type="xml">
            <form string="General SEO module settings" class="oe_form_configuration o_base_settings">
                <div class="o_control_panel">
                    <div class="o_panel">
                        <div class="title h2 mb0 mt4 text-muted hidden-xs">General SEO settings</div>
                    </div>
                    <header>
                        <button string="Save" type="object" name="execute" class="oe_highlight" />
                        <button string="Discard" type="object" name="cancel" special="cancel" />
                    </header>
                </div>
                <div class="mr32 ml16">
                    <div class="row mt16 o_settings_container">
                        <div class="col-xs-12 col-md-4 o_setting_box">
                            <div class="o_setting_right_pane">
                                <div class="row mb8">
                                    <label class="col-md-4" string="Current website"/>
                                    <field name="website_id" readonly="1"/>
                                </div>
                                <label string="Cache mode"/>
                                <div class="mt8">
                                    <field name="cache_mode" class="o_light_label" widget="radio" required="True"/>
                                </div>
                                <label class="mt16" for="console_mode"/>
                                <div class="text-muted">
                                    Developer mode activates the CONSOLE.LOG function of several scripts
                                </div>
                                <div class="mt8">
                                    <field name="console_mode" class="o_light_label" widget="radio" required="True"/>
                                </div>
                                <label class="mt16" string="Friendly URL max length"/>
                                <div class="mt8">
                                    <field name="slug_length" required="True"/>
                                    <div class="text-muted">
                                        Default max length of slug field (from 20 to 99)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4 o_setting_box">
                            <div class="mb8">
                                <div class="o_setting_left_pane">
                                    <field name="web_public_shop"/>
                                </div>
                                <div class="o_setting_right_pane">
                                    <label for="web_public_shop"/>
                                    <div class="text-muted">
                                        Open the store for public users. Otherwise, the access rules must be established.
                                    </div>
                                    <div class="mt8" attrs="{'invisible': [('web_public_shop','=',True)]}">
                                        <label class="o_form_label" for="shop_access_rules">Set access rules:</label>
                                        <div class="mt4">
                                            <field name="shop_access_rules" class="o_light_label" widget="radio"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </field>
    </record>
    <record id="seo_general_settings" model="ir.actions.act_window">
        <field name="name">General SEO settings</field>
        <field name="type">ir.actions.act_window</field>
        <field name="res_model">seo_general.settings</field>
        <field name="view_mode">form</field>
        <field name="target">inline</field>
    </record>
    <!-- Web app part -->
     <record id="web_app_settings_form" model="ir.ui.view">
        <field name="name">Progressive WEB APP settings</field>
        <field name="model">web_app.settings</field>
        <field name="arch" type="xml">
            <form string="Progressive WEB APP settings" class="oe_form_configuration o_base_settings">
                <div class="o_control_panel">
                    <div class="o_panel">
                        <div class="title h2 mb0 mt4 text-muted hidden-xs">Progressive WEB APP settings</div>
                    </div>
                    <header>
                        <button string="Save" type="object" name="execute" class="oe_highlight" />
                        <button string="Discard" type="object" name="cancel" special="cancel" />
                    </header>
                </div>
                <div class="mr32 ml16">
                    <div class="row mt16 o_settings_container">
                        <div class="col-xs-12 col-md-4 o_setting_box">
                            <div class="o_setting_right_pane mb16">
                                <div class="row mb8">
                                    <label class="col-md-4" string="Current website"/>
                                    <field name="website_id" readonly="1"/>
                                </div>
                                <div class="row mb16">
                                    <label class="col-md-4" for="web_app_name"/>
                                    <field name="web_app_name"/>
                                </div>
                                <div class="row mb16">
                                    <label class="col-md-4" for="web_app_short_name"/>
                                    <field name="web_app_short_name"/>
                                </div>
                                <div class="row mb16">
                                    <label class="col-md-4" for="web_app_description"/>
                                    <field name="web_app_description"/>
                                </div>
                                <div class="row mb8">
                                    <label class="col-md-12" for="web_app_icon"/>
                                    <div class="col-md-12 text-muted">
                                        Must be 512*512px or more
                                    </div>
                                </div>
                                <field name="web_app_icon" widget="image" class="pull-left oe_avatar" required="1"/>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4 o_setting_box">
                            <div class="o_setting_right_pane">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="web_app_start_url"/>
                                        <div class="text-muted">Ex: "home" for start in EXAMPLE.COM/HOME</div>
                                    </div>
                                    <field name="web_app_start_url"/>
                                </div>
                                <div class="row mb16">
                                    <div class="col-md-4">
                                        <label for="web_app_background_color"/>
                                        <div class="text-muted">Ex: #7c7bad</div>
                                    </div>
                                    <field name="web_app_background_color"/>
                                </div>
                                <div class="row mb16">
                                    <div class="col-md-4">
                                        <label for="web_app_theme_color"/>
                                        <div class="text-muted">Ex: #7c7bad</div>
                                    </div>
                                    <field name="web_app_theme_color"/>
                                </div>
                            </div>
                            <div class="o_setting_right_pane">
                                <div class="row mb16">
                                    <label for="web_app_display" class="col-md-12"/>
                                    <div class="col-md-6 col-sm-12 text-muted">
                                        You can customize what browser UI is shown when your app is launched.<br/>
                                        You can hide the address bar and browser or set completely full screen.
                                    </div>
                                    <field name="web_app_display" class="col-md-6" widget="radio" required="True"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4 o_setting_box">
                            <div class="mb16">
                                <label for="web_app_code"/>
                                <div class="text-muted mb8">
                                    This code will be added to the end of the JSON file.<br/>
                                    It's important to start with the comma and line break.
                                </div>
                                <field name="web_app_code"/>
                            </div>
                            <div class="mb16">
                                <h3>
                                    <a href="/manifest.json" title="Open in new tab" target="_blank">
                                        <span>Open manifest.json file</span>
                                        <i class="fa fa-fw o_button_icon fa-arrow-right"/>
                                    </a>
                                </h3>
                                <div class="text-muted">Open the manifest.json file of the current website in a new tab</div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4 o_setting_box">
                            <div class="mb16">
                                <div class="o_setting_left_pane">
                                    <field name="sw_offline"/>
                                </div>
                                <div class="o_setting_right_pane">
                                    <label for="sw_offline"/>
                                    <div class="text-muted">
                                        Service worker adds offline support for your web application
                                    </div>
                                    <div class="bg-danger mt4" attrs="{'invisible': [('sw_offline','=',False)]}" style="padding: 5px;">
                                        <strong>Warning!</strong><br/>
                                        This module can include several problems with cache, cookies and user sessions.
                                    </div>
                                </div>
                            </div>
                            <div class="mb16" attrs="{'invisible': [('sw_offline','=',False)]}">
                                <label for="sw_code"/>
                                <div class="text-muted mb8">
                                    These lines will be added to the end of the service worker cache list.<br/>
                                    It's important to put each element in quotes and separate them with the comma.<br/>
                                    Ex: ,'/seo_base/static/js/cache-polyfill.js'
                                </div>
                                <field name="sw_code"/>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </field>
     </record>
    <record id="web_app_settings" model="ir.actions.act_window">
        <field name="name">Progressive WEB APP settings</field>
        <field name="type">ir.actions.act_window</field>
        <field name="res_model">web_app.settings</field>
        <field name="view_mode">form</field>
        <field name="target">inline</field>
    </record>
    <!-- Analytics part -->
    <record id="analytics_settings_form" model="ir.ui.view">
        <field name="name">Analytics settings</field>
        <field name="model">seo_analytics.settings</field>
        <field name="arch" type="xml">
            <form string="Analytics settings" class="oe_form_configuration o_base_settings">
                <div class="o_control_panel">
                    <div class="o_panel">
                        <div class="title h2 mb0 mt4 text-muted hidden-xs">Integration with analytical systems</div>
                    </div>
                    <header>
                        <button string="Save" type="object" name="execute" class="oe_highlight" />
                        <button string="Discard" type="object" name="cancel" special="cancel" />
                    </header>
                </div>
                <div class="mr32 ml16">
                    <div class="row mt16 o_settings_container">
                        <div class="col-xs-12 col-md-4 o_setting_box">
                            <div class="o_setting_right_pane">
                                <div class="row mb16">
                                    <label class="col-md-4" string="Current website"/>
                                    <field name="website_id" readonly="1"/>
                                </div>
                                <div class="row mb16">
                                    <label class="col-md-4" for="google_tag_manager_key"/>
                                    <field name="google_tag_manager_key" placeholder="GTM-XXXX"/>
                                </div>
                                <div class="row mb16">
                                    <label class="col-md-4" for="facebook_pixel_key"/>
                                    <field name="facebook_pixel_key" placeholder="your-pixel-id-goes-here"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </field>
    </record>
    <record id="analytics_settings" model="ir.actions.act_window">
        <field name="name">Analytics settings</field>
        <field name="type">ir.actions.act_window</field>
        <field name="res_model">seo_analytics.settings</field>
        <field name="view_mode">form</field>
        <field name="target">inline</field>
    </record>
</odoo>