// == Define this variables in your archive css to override them or keep default bootstrap body colors
//
//##

// :root {
//     --affix-header-bg-color: you_color or @navbar-default-bg;
//     --affix-header-z-index: you_index or 999;
// }


// == Define your keyframe or keep this to do nothing
//
//##

// :root {
//     --affix-header-animation-name: your_animation_name or no_frame;
//     --affix-header-animation-duration: your_animation_duration or 0.3s;
//     --affix-header-animation-delay: your_animation_delay or 0s;
// }

@keyframes no_frame {
    from {opacity: 1;}
    to {opacity: 1;}
}

// Pushed cookies notice message to bottom for let fix header on scroll and not hide cookies notice message
div#website_cookie_notice {
    position: fixed;
    z-index: var(--affix-header-z-index, 999);
    left: 0;
    right: 0;
    bottom: 0;
}

// Affix Header
html:not([data-scroll='0']) {
    // Add shadow when scrolling and not breadcrumbs bar
    header.o_affix_header:not(.wp_breadcrumbs_base) {
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        transition: box-shadow 2s ease-in-out;
    }
    // Affix Header when scroll
    header.o_affix_header {
        & .navbar-default {
            background-color: var(--affix-header-bg-color, @navbar-default-bg);
        }
        position: fixed;
        z-index: var(--affix-header-z-index, 999);
        left: 0;
        right: 0;
        bottom: auto;
        animation-name: var(--affix-header-animation-name, no_frame);
        animation-duration: var(--affix-header-animation-duration, 0s);
        animation-delay: var(--affix-header-animation-delay, 0s);
    }
}