// ------------------------------------------------------------------------
// Variables for Products Brands
// ------------------------------------------------------------------------

#wrap_brands {
    & form {
        margin-top: 0.25rem !important;
        margin-bottom: 1rem !important;
        & .input-group {
            margin-left: 44% !important;
        }
    }
    & .oe_brand_container {
        & .oe_brand {
            border: $oe-brand-border;
            box-shadow: $oe-brand-box-shadow;
            margin-bottom: $oe-brand-mb;
            &:hover {
                border: $oe-brand-border-hover;
                box-shadow: $oe-brand-box-shadow-hover;
            }
            & img {
                padding: $oe-brand-img-padding;
            }
            & h6 {
                margin-left: 0.5rem;
                margin-right: 0.5rem;
                margin-bottom: $oe-brand-heading-mb;
            }
        }
    }
}

// ----------------------------------------------------------------------
// Products Brands Medias
// -------------------------------------------------------------------

// 992
@include media-breakpoint-down(md) {
    #wrap_brands {
        & form {
            & .input-group {
                margin-left: 20% !important;
            }
        }
    }
}
