/* Body */
body {
    font-family: @main-font-family;
}

/* Links */
a {
    color: @color-dark;
    &:hover, &:focus {
        color: @color-light;
    }
}

/* Buttons */
.btn {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}
.btn-primary {
    border-color: @color-light;
    background-color: @color-dark;
    &:hover {
        border-color: @color-dark;
        background-color: @color-light;
    }
}

/* Pagination */
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: @color-dark;
    border-color: @color-dark;
}
.pagination > li > a, .pagination > li > span {
    color: @color-light;
    padding: 6px 10px;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    color: @color-dark;
}

/* ECommerce categories*/
#o_shop_collapse_category li i.fa {
    color: @color-dark;
}

/* Newsletter banner */
.wp-subscription-banner {
    background-color: @color-light;
    color: @white;
    & a, a:hover {
        color: @white;
        &.btn-primary {
            background-color: @white;
            border-color: @white;
            color: @color-dark;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            &:hover {
                background-color: @color-dark;
                border-color: @color-dark;
                color: @white;
            }
        }
    }
    & h2.join-title {
        font-weight: 600;
        font-size: 26px;
    }
    & .social-column span {
        font-size: 26px;
    }
    & .legal-terms {
        font-size: 12px;
        line-height: 1;
    }
}
/*Labels */
.label-primary {
    background-color: @color-dark;
    color: @white;
}
