// ----------------------------------------------------------------------
// Product Tags, Category Tags, Ribbon Promo Tags
// ----------------------------------------------------------------------

// Tag color Map
$colors: map-merge(
    (
        1: #dc3545,
        2: #fd7e14,
        3: #F7CD1F,
        4: #6CC1ED,
        5: #814968,
        6: #EB7E7F,
        7: #2C8397,
        8: #475577,
        9: #D6145F,
        10: #30C381,
        11: #9365B8,
    ),
    o-map-omit($colors)
);

$color-shadow: if($body-bg == #fff, $body-bg, #000);
$no-color-shadow: if($body-bg == $primary, darken($body-bg, 5%), $body-bg);

@mixin tag-variant() {
    @each $color, $value in $colors {
        &.tag-#{$color}, &.categ-#{$color} {
            color: if($body-bg == $value, #fff, $body-bg);
            background-color: $value;
            border-color: $value;
            &:hover {
                color:$value;
                background-color: if($body-bg == $value, #fff, $body-bg);
            }
            &.current, &:focus {
                box-shadow: 0px 0px 0.4rem 0.05rem color-yiq($color-shadow);
                &:hover {
                    color: if($body-bg == $value, #fff, $body-bg);
                    background-color: $value;
                }
            }
        }
    }
    // Current tag without colors
    &.tag-0.current, &:focus {
        color: $primary;
        background-color: $body-bg;
        box-shadow: 0px 0px 0.4rem 0.05rem $primary;
    }
}

// Product Container
.oe_product {
    border: $oe_product_border;
    &.oe_ribbon_promo, &.oe_ribbon_novel {
        .ribbon-wrapper {
            display: block;
        }
    }
    & .ribbon-wrapper {
        width: 83px;
    }
    & .ribbon {
        top: 14px;
        @each $color, $value in $colors {
            &.ribbon-color-#{$color} {
                color: if($body-bg == $value, #fff, $body-bg);
                background-color: $value;
                border-color: $value;
                box-shadow: 0px 0px 0.4rem 0.05rem color-yiq($color-shadow);
                &:hover {
                    color:$value;
                    background-color: if($body-bg == $value, #fff, $body-bg);
                }
            }
        }
        // No color
        &.ribbon-color-0 {
            color: $body-bg;
            background-color: $primary;
            box-shadow: 0px 0px 0.4rem 0.05rem $primary;
            &:hover {
                color: $primary;
                background-color: $body-bg;
            }
        }
    }
}

// Product Grid Before
#tags_menu_collapse {
    & a.btn.btn-primary {
        // Tags with colors
        @include tag-variant()
    }
}

// Product Detail
#product_detail {
    // Tag lists
    & h4 {
        & a, & span {
            @each $color, $value in $colors {
                &.tag-#{$color}, &.categ-#{$color}, &.promo-#{$color} {
                    color: if($oe_product_tag_link_color != unset, $oe_product_tag_link_color, $value);
                    &:not(.promo-#{$color}):hover {
                        color: $link-hover-color;
                        text-decoration: if($oe_product_tag_link_decoration != unset, $oe_product_tag_link_decoration, unset);
                    }
                }
            }
        }
    }
    // Product Categories and Tags Collapsible
    & .card {
        display: block; // flex;
        flex-direction: unset; // column;
        border: unset; // $card-border-width solid $card-border-color;
    }
    & .card-body {
      flex: unset; // 1 1 auto;
      padding: 0; // $card-spacer-x;
      & a.btn.btn-primary {
        // Tags with colors
            @include tag-variant()
        }
    }
}
