// ----------------------------------------------------------------------
// Product Tags and Category Tags
// ----------------------------------------------------------------------

// Tag color Map
$colors: map-merge(
    (
        1: #F06050,
        2: #F4A460,
        3: #F7CD1F,
        4: #6CC1ED,
        5: #814968,
        6: #EB7E7F,
        7: #2C8397,
        8: #475577,
        9: #D6145F,
        10: #30C381,
        11: #9365B8,
    ),
    o-map-omit($colors)
);

$color-shadow: if($body-bg == #fff, $body-bg, #000);
$no-color-shadow: if($body-bg == $primary, darken($body-bg, 5%), $body-bg);

// $oe_product_border: 1px solid rgba(100, 100, 100, 0.2);
// $oe_product_detail_border: 1px solid rgba(100, 100, 100, 0.2);

/* tag colors */
a.btn.btn-primary.mb8 {
    // Tags with colors
    @each $color, $value in $colors {
        &.tag-#{$color}, &.categ-#{$color} {
            color: if($body-bg == $value, #fff, $body-bg);
            background-color: $value;
            border-color: $value;
            &:hover {
                color:$value;
                background-color: if($body-bg == $value, #fff, $body-bg);
            }
            &.current, &:focus {
                box-shadow: 0px 0px 0.4rem 0.05rem color-yiq($color-shadow);
                &:hover {
                    color: if($body-bg == $value, #fff, $body-bg);
                    background-color: $value;
                }
            }
        }
    }
    // Current tag without colors
    &.tag-0.current, &:focus {
            color: $primary;
            background-color: $body-bg;
            box-shadow: 0px 0px 0.4rem 0.05rem $primary;
    }
}

/* Product Categories and Tags Collapsible */
#product_details {
    & .card {
        display: block; // flex;
        flex-direction: unset; // column;
        border: unset; // $card-border-width solid $card-border-color;
    }
    & .card-body {
      flex: unset; // 1 1 auto;
      padding: 0; // $card-spacer-x;
    }
}

/* Ribbons Styles */
#product_detail {
    & .oe_product {
        border: $oe_product_detail_border;
    }
}

.oe_product {
    border: $oe_product_border;
    &.oe_ribbon_promo, &.oe_ribbon_novel {
        .ribbon-wrapper {
            display: block;
        }
    }
    & .ribbon {
        top: 14px;
        @each $color, $value in $colors {
            &.ribbon-color-#{$color} {
                color: if($body-bg == $value, #fff, $body-bg);
                background-color: $value;
                border-color: $value;
                box-shadow: 0px 0px 0.4rem 0.05rem color-yiq($color-shadow);
                &:hover {
                    color:$value;
                    background-color: if($body-bg == $value, #fff, $body-bg);
                }
            }
        }
        // No color
        &.ribbon-color-0 {
            color: $body-bg;
            background-color: $primary;
            box-shadow: 0px 0px 0.4rem 0.05rem $primary;
            &:hover {
                color: $primary;
                background-color: $body-bg;
            }
        }
    }
}
